{% extends "base/base-full-screen.html" %}

{% load static %}

{% block title %}
@{{software}} - Licencia
{% endblock title %}


{% block content %}
    <div class="container mt-5">
        <div class="w-50 d-flex flex-column justify-content-center">
            <h1 class="h4 fw-bold text-center">
                Tipo de Licencia de {{software}}
            </h1>
            <span class="text-secondary text-center">
                El mundo del software se rige por dos tipos de licencias que definen los derechos y responsabilidades de usuarios y desarrolladores.
            </span>
        </div>

        <div class="radio-inputs mt-5">
            <form method="POST">
              {% csrf_token %}
              <input type="text" value={{software.id}} style="display: none;" name="software">
              <div class="row">
                      <div class="col-sm-6">
                          <label >
                            <input class="radio-input" type="radio" name="license" id="id_license_1" value="propietario">
                            <span class="radio-tile">
                                <span class="radio-icon">
                                  <img src="{% static "images/candado.png" %}" alt="propietario">
                                </span>
                                <span class="radio-label fw-bold mt-3">Propietario</span>
                                <span class="radio-label text-secondary">
                                  Desarrollado por empresas o individuos que mantienen el control exclusivo sobre el código fuente y su distribución.
                                </span>
                            </span>
                          </label>
                      </div>
                      <div class="col-sm-6">
                          <label>
                              <input checked="true" class="radio-input" type="radio" name="license" id="id_license_2" value="codigo libre">
                              <span class="radio-tile">
                              <span class="radio-icon">
                                  <img src="{% static "images/candado-abierto.png" %}" alt="codigo libre">
                              </span>
                              <span class="radio-label fw-bold mt-3">Libre y de Código libre</span>
                              <span class="radio-label">
                                Otorgan libertad a los usuarios para usar, modificar y distribuir el software sin restricciones.
                              </span>
                          </label>
                      </div>
              </div>
              <div class="d-flex gap-2 p-2 w-50">
                  <input type="submit" class="btn btn-sm btn-dark mt-2" value="Continue" >
              </div>
            </form>
        </div>

    </div>
{% endblock content %}