{% extends "base/index.html" %}

{% load static %}

{% block title %}
@{{user}}/{{software.title}}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ software.title.capitalize }}
              </li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm 3">
            {% include "includes/menu.html" with software=software %}
        </div>
        <div class="col-sm-9">
            <div class="card shadow" style="height: 500px; overflow-y: scroll;">
                <div class="card-body">
                    <h1 class="h4 fw-bold text-start mb-3 mt-3 text-primary">Manual de Usuario: {{software}}</h1>
                    <hr>
                    <div id="id_section_content" class="mt-4 mb-3 p-2">
                        <h1 class="fw-bold h5">Contenido</h1>
                        <ul>
                            <li>Sección 1: Descripción del Software <strong class="text-primary">{{software}}</strong> </li>
                            <li>Sección 2: Categorización del software</li>
                            <li>Sección 3: Funcionalidades claves del software</li>
                            <li>Sección 4: Arquitectura del software</li>
                            <li>Sección 5: Instalación y configuración</li>
                            <li>Sección 6: Autores</li>
                            <li>Sección 7: Solución de problemas</li>
                            <li>Sección 8: Glosario</li>
                            <li>Sección 9: Anexos</li>
                        </ul>
                    </div>
                    <div id="id_section_description" class="mb-3 p-2">
                        <h1 class="fw-bold h4">Sección 1: Descripción del software</h1>
                        <p>{{software.description}}</p>
                    </div>

                    <div id="id_section_category" class="mb-3 p-2">
                        <h1 class="fw-bold h4">Sección 2: Categorización de software</h1>

                        {% if software.category.type_software %}
                        <div class="container mt-3">
                            {% include "repository/category_detail.html" with software=software %}
                            
                            <a href="{% url "description" slug=software.slug %}" class="btn btn-sm btn-outline-dark">Editar</a>
                        </div>
                        {% else %}
                        
                        {% endif %}
                    </div>
                    

                    {% if software.get_requeriments %}
                        {% include "repository/requeriments.html" with requeriments=software.get_requeriments %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    
</div>


{% endblock content %}