{% extends "base/index.html" %}

{% load static %}

{% block title %}
@{{user}}/{{software.title}}
{% endblock title %}

{% block css %}
<style>
    
</style>
{% endblock css %}

{% block content %}
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ software.title.capitalize }}
              </li>
            </ol>
        </nav>
    </div>

    {% include "includes/menu.html" with slug=software.slug %}
    
</div>
<div class="container mt-5">
    {% block subcontent %}
    <div class="row">
        <div class="col-sm">
            <table class="table table table-borderless">
                <tr>
                    <th scope="col">Software</th>
                    <td>
                        {{ software.title }}
                    </td>
                </tr>    
                <tr>
                    <th scope="col">Tipo de programa</th>
                    <td>
                        {{ software.description }}
                    </td>
                </tr>    
                <tr>
                    <th scope="col">Tipo de programa</th>
                    <td>
                    </td>
                </tr>    
            </table>
        </div>
        <div class="col-sm">
            <table class="table table table-borderless">
                <tr>
                    <th scope="col">Lanzamiento</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Última version</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Licencia</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">País de origen</th>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-sm">
            <table class="table table table-borderless">
                <tr>
                    <th scope="col">Lanzamiento</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Última version</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Licencia</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">País de origen</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    {% endblock subcontent %}
    <a href="{% url "description" slug=software.slug %}" class="btn btn-sm btn-outline-dark">Editar</a>
</div>
{% endblock content %}