{% extends "base/index.html" %}

{% load static %}

{% block title %}
@{{user}}/{{software.title}}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ software.title.capitalize }}
              </li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm 3">
            {% include "includes/menu.html" with software=software %}
        </div>
        <div class="col-sm-9">
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="col">Software</th>
                            <td>
                                {{ software.title }}
                            </td>
                        </tr>    
                    </table>
                    <table class="table table table-borderless">
                        <tr>
                            <th scope="col">Descripción</th>
                            <td>
                                {{ software.description }}
                            </td>
                        </tr>    
                    </table>
                    
                    {% if software.category.type_software %}
                    <div class="container mt-3">
                        {% include "repository/category_detail.html" with software=software %}
                        
                        <a href="{% url "description" slug=software.slug %}" class="btn btn-sm btn-outline-dark">Editar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    
</div>


<div class="container mt-3">
    {% include "repository/requeriments.html" with requeriments=software.get_requeriments %}
</div>

{% endblock content %}