{% extends "base/base-full-screen.html" %}

{% load static %}

{% block title %}
@{{software}} - Version
{% endblock title %}

{% block css %}
<style>
.form {
    font-family: Helvetica, sans-serif;
    padding: 25px;
    display: flex;
    max-width: 420px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
    
/*----heading and description-----*/

.info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
    
.title {
    font-size: 1.5rem;
    font-weight: 900;
}
    
.description {
    margin-top: 10px;
    font-size: 1rem;
}
    
/*----input-fields------*/
    
.form .input-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
    
.form .input-fields input {
    height: 2.5em;
    width: 2.5em;
    outline: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2.5px solid var(--eer-black);
    background-color: #d4cece;
    color: white;
}
    
    .form .input-fields input:focus {
    border: 1px solid var(--af-white);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .15);
    transform: scale(1.05);
    transition: 0.5s;
    }
    
    /*-----verify and clear buttons-----*/
    
    .action-btns {
    display: flex;
    margin-top: 20px;
    gap: 0.5rem;
    }
    
    .verify {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--night-rider);
    text-shadow: none;
    background: var(--af-white);
    box-shadow: transparent;
    border: 1px solid var(--af-white);
    transition: 0.3s ease;
    user-select: none;
    }
    
    .verify:hover,.verify:focus {
    color: var(--night-rider);
    background: var(--white);
    }
    
    .clear {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--ch-white);
    text-shadow: none;
    background: transparent;
    border: 1px solid var(--ch-white);
    transition: 0.3s ease;
    user-select: none;
    }
    
    .clear:hover,.clear:focus {
    color: var(--tomato);
    background-color: transparent;
    border: 1px solid var(--tomato);
    }
    
</style>
{% endblock css %}

{% block content %}
<div class="container mt-5">
    <div class="form">
        <div class="info">
            <span class="title">Version semantico</span>
            <span class="text-secondary text-center">
                En el desarrollo de software, indicar la versión implica registrar y administrar los cambios realizados en el código fuente a lo largo del tiempo.
            </span>
        </div>
        <p class="text-secondary">mayor.menor.parche</p>

        <div class="input-fields">
          <input maxlength="1" type="tel" id="id_major">
          <input maxlength="1" type="tel" id="id_minor">
          <input maxlength="1" type="tel" id="id_patch">
        </div>
        <span class="text-secondary text-center fw-light p-2" style="font-size: 0.9rem;" id="id_text_help"></span>
        <form method="POST" class="d-flex justify-content-center flex-column">
            {% csrf_token %}
            {{ form.slug }}
            {{ form.version }}
            <div class="p-4">
                <label for="exampleFormControlInput1" class="form-label">Fecha de lanzamiento</label>
                {{ form.date_created }}
            </div>
            <div class="mb-3 p-2">
                <label for="exampleFormControlInput1" class="form-label">País de creación</label>
                {{ form.origin_country }}
            </div>
            <div class="d-flex gap-2 p-2 w-50">
                <input type="submit" class="btn btn-sm btn-dark mt-2" value="Continue" >
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    const version = document.querySelector('#id_version')
    const textHelp = document.querySelector('#id_text_help')
    const major = document.querySelector('#id_major')
    const minor = document.querySelector('#id_minor')
    const patch = document.querySelector('#id_patch')

    if (version.value.length == 0){
        version.value = '0.0.0'
        major.textContent = "0"
        minor.textContent = "0"
        patch.textContent = "0"
        textHelp.textContent = 'Se requiere versión de tu software.'
    }else{
        major.textContent = version.value[0]
        minor.textContent = version.value[2]
        patch.textContent = version.value[4]
        textHelp.textContent = 'Version actual.'
    }

    
    major.addEventListener('keyup', (e)=>{
        version.value = e.target.value + '.' + version.value[2] + '.' + version.value[4]
        textHelp.textContent = 'Los cambios de tipo principal en la versión están relacionados con cambios de API incompatibles.'
    })

    minor.addEventListener('keyup', (e)=>{
        version.value = version.value[0] + '.' + e.target.value[0] + '.' + version.value[4]
        textHelp.textContent = 'Los cambios secundarios de la versión están relacionados con la adición de nuevas funciones de una manera compatible con versiones anteriores.'
    })

    patch.addEventListener('keyup', (e)=>{
        version.value = version.value[0] + '.' + version.value[2] + '.' + e.target.value
        textHelp.textContent = 'Los cambios en la versión de revisión (o parche) están relacionados con la corrección de errores que también son compatibles con versiones anteriores.'
    })
</script>
{% endblock javascript %}