<div class="mt-3">
    <a href="{% url "repository" slug=slug %}" class="btn btn-outline-dark btn-sm active" disabled>Información básica</a>
    <a href="{% url "description" slug=slug %}" class="btn btn-outline-dark btn-sm" disabled>Descripción de software</a>
    <a href="{% url "categorization" slug=slug %}" class="btn btn-outline-dark btn-sm" disabled>categorización</a>
    <a href="#" class="btn btn-outline-dark btn-sm" disabled>Carácteristicas</a>
    <a href="#" class="btn btn-outline-dark btn-sm" disabled>Arquitectura</a>
    <a href="#" class="btn btn-outline-dark btn-sm" disabled>Instalación y configuración</a>
    <a href="#" class="btn btn-outline-dark btn-sm" disabled>Autor(es)</a>
    <a href="#" class="btn btn-outline-dark btn-sm" disabled>Solución de problemas</a>
</div>