{% extends "base/index.html" %}

{% load static %}

{% block title %}
@{{user}} - Dashboard
{% endblock title %}


{% block content %}
    <h1>Home</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <div>
        
        

        {% if user.is_authenticated %}

        {% endif %}
    </div>
    
    <div>
        <div class="d-flex">
            <h2 class="h2">Top repositorios</h2>
            <a href="{% url "repository_new" %}" class="btn btn-success btn-sm">New</a>
        </div>

        {% for repo in repositories %}
            <a href="{% url "repository" slug=repo.slug %}">{{user}}/{{repo.title}}</a>
        {% endfor %}
    </div>
{% endblock content %}