{% extends "base/index.html" %}

{% load static %}

{% block title %}
@{{user}} - Dashboard
{% endblock title %}


{% block content %}
    <h1>Home</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <a href="{% url "dashboard" %}">Inicio</a>
    <a href="{% url "repository_new" %}">New</a>
    <a href="{% url "profile" slug=user.username %}">Perfil</a>

    {% if user.is_authenticated %}
        <a href="{% url "logout" %}">Cerrar Sesión</a>
    {% endif %}
{% endblock content %}