{% extends "base/base-full-screen.html" %}

{% load static %}

{% block title %}
@{{app.name}} - Home
{% endblock title %}



{% block content %}

{% include "includes/navbar.html" %}
<div class="container mt-5">
    <div class="d-flex flex-column justify-content-center">
        <div class="text-center">
            <h1>Document App</h1>
            {% comment %} <img src={{app.get_logo}} alt={{app.name}} width="250px" height="100px"> {% endcomment %}
        </div>
        <p class="h5 text-secondary mb-0 text-center fw-bold" >Crea documentación de forma clara y accesible a cualquier audiencia</p>
        <h1 class="h1 fw-bold m-0 text-center">Seguro. Organizado. Eficiente.</h1>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 mt-5">
            <h2 class="h5 fw-bold">
                ¿Por qué es importante la documentación de software?
            </h2>
            <p class="text-start text-secondary">
                La documentación de software es crucial porque facilita la comprensión, uso, y mantenimiento del software por parte de los desarrolladores y usuarios, asegurando consistencia, eficiencia, y calidad en el desarrollo y actualización del software.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="{% static "image_0001.png" %}" alt="" srcset="" width="600px">
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}{% endblock javascript %}