{% extends "base/base-full-screen.html" %}

{% load static %}

{% block title %}
@{{app.name}} - Home
{% endblock title %}



{% block content %}

{% include "includes/navbar.html" %}
<div class="container mt-5">
    <div class="d-flex flex-column justify-content-center">
        <p class="h5 text-secondary mb-0 text-center fw-bold" >Creación de artefactos de productos software</p>
        <h1 class="h1 fw-bold m-0 text-center">Seguro. Organizado. Eficiente.</h1>
        <p class="text-secondary text-center mt-4 h3 fw-light" >
            Una solución moderna para gestionar sus productos software. Crea, almacena, colabora y realiza un seguimiento de los cambios de forma segura en toda tu aplicación.
        </p>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 mt-5">
            <h2 class="h5 fw-bold">Categoriza</h2>
            <p class="text-start text-secondary">
                Realize una categorización de productos software con la colaboración de ArteSoft.
            </p>
            <h2 class="h5 fw-bold">Automatización</h2>
            <p class="text-start text-secondary">
                Automatice su flujo de trabajo con integración continua.
            </p>
            <h2 class="h5 fw-bold">Escale</h2>
            <p class="text-start text-secondary">
                Implemente en la nube con un solo clic y escale con facilidad.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="{% static "image_0001.png" %}" alt="" srcset="" width="600px">
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}{% endblock javascript %}