{% extends "profile/detail.html" %}

{% load static %}

{% block subcontent %}
<div class="col-sm-8">
    <form method="POST" action="" class="w-50">
        {% csrf_token %}
        {% comment %} {{form.user}}
        <div class="mb-3">
            <p class="fw-light">Seleccione la universidad a la que pertenece</p>
            {{ form.university}}
        </div>
        <div class="mb-3">
            <p class="fw-light">¿Cúal es tu rol actual?</p>
            {{ form.rol }}
        </div>
        <div class="mb-3">
            <p class="fw-light">Seleccione su carrera profesional</p>
            {{ form.profession }}
        </div>
        <div class="mb-3">
            <p class="fw-light">Indica tu semestre</p>
            {{ form.semester }}
        </div> {% endcomment %}
        {{form.as_p}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-sm btn-dark mt-2" value="Guardar" >
            <a href="{% url "profile" slug=user.username %}" class="btn btn-outline-light text-dark">Cancelar</a>
        </div>
    </form>
</div>

{% endblock subcontent %}

{% block javascript %}{% endblock javascript %}