{% extends "base/base-full-screen.html" %}

{% load static %}

{% block title %}
@{{user}} - Role
{% endblock title %}

{% block content %}
<div class="mt-2">
  <div class="position-relative">
      <a class="position-absolute" href={% url "index" %}>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg h2 fw-bold  text-dark" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
      </a>
  </div>
</div>

<div class="container mt-5 w-50">
  <div class="text-center">
    <img src={{app.get_logo}} alt={{app.name}} width="150px" height="50px">
  </div>
  <div class=" d-flex flex-column justify-content-center">
    <h1 class="h1 fw-bold text-center">
      Háblanos un poco de tí
    </h1>
    <span class="h3 p-2 fw-light text-secondary text-center">
      ¿Cuál es tu ocupación actual?
    </span>
  </div>

  <div class="radio-inputs mt-5">
      <form method="POST">
        {% csrf_token %}
        <input type="number" value={{user.id}} name="user" style="display: none;">
        <div class="row">
                <div class="col-sm-6">
                    <label >
                      <input class="radio-input"  type="radio" name="rol" id="id_input_rol_1" value="PROFESOR">
                      <span class="radio-tile">
                          <span class="radio-icon">
                            <img src="{% static "images/teacher.png" %}" alt="teacher">
                          </span>
                          <span class="radio-label fw-bold mt-3">Docente</span>
                          <span class="radio-label text-secondary">
                            Gestiona todos tus proyectos software. 
                          </span>
                      </span>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label>
                      <input class="radio-input" type="radio" name="rol" id="id_input_rol_2" value="ESTUDIANTE" checked="true">
                      <span class="radio-tile">
                        <span class="radio-icon">
                          <img src="{% static "images/student.png" %}" alt="student" >
                        </span>
                        <span class="radio-label fw-bold mt-3">Estudiante</span>
                        <span class="radio-label">
                          Gestiona todos tus desarrollos de software.
                        </span>
                    </label>
                </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <input type="submit" class="btn btn-sm btn-dark mt-2" value="Continue" >
        </div>
      </form>
  </div>

</div>
{% endblock content %}

{% block javascript %}
<script>
</script>
{% endblock javascript %}