{% extends "base/base-full-screen.html" %}

{% load static %}

{% block title %}
@{{user}} - University
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="w-50 d-flex flex-column justify-content-center">
        <h2 class="h4 fw-bold text-center">Cuentanos acerca de tu perfil profesional</h2>
        <span class="text-secondary text-center">
          Personalizaremos tu espacio de trabajo.
          ¿Cuál es tu ocupación actual?
        </span>
    </div>
    <form method="POST" class="w-50">

        {% csrf_token %}
        <div class="mt-3">
            <h2 class="h5 fw-light">¿Cuál es tu Universidad o Institución? </h2>
            {{ form.university }}
        </div>
        <div class="mt-3">
            {% if user.academica.rol == 'PROFESOR' %}
            <h2 class="h5 fw-light">¿Cuál es tu titulo profesional?</h2>
            {% else %}
            <h2 class="h5 fw-light">¿Qué estas estudiando?</h2>
            {% endif %}
            {{ form.profession }}
        </div>
        <div class="mt-3">
            {% if user.academica.rol == 'ESTUDIANTE' %}
            <h2 class="h5 fw-light">¿Qué semestre estas cursando actualmente?</h2>
            {{ form.semester }}
            {% endif %}
        </div>

        <div class="d-grid gap-2 p-2">
            <input type="submit" class="btn btn-sm btn-dark mt-2" value="Guardar" >
        </div>
    </form>
</div>

{% endblock content %}

{% block javascript %}{% endblock javascript %}